@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

html {
  scroll-behavior: smooth;
}

body.overflow-hidden {
  touch-action: none;
  -ms-touch-action: none;
}
